Makefile
*/Makefile.*
*.h
*/*/*.o
*/.qmake.stash
*/*/lib*.so*
build*
gui/locale/*.qm
gui/moc/
gui/qrc_*.cpp
man/*.gz

console/cdvdcontrol/cdvdcontrol
console/f1tattoo/f1tattoo
console/pxfw/pxfw
console/qscan/qscan
console/qscand/qscand
console/readdvd/readdvd
gui/qpxtool
