[Desktop Entry]
Name=QPxTool
GenericName=CD/DVD media quality checker
GenericName[ru]=Проверка качества носителей CD/DVD
Type=Application
Exec=qpxtool
Icon=qpxtool
Comment=CD/DVD media quality checker
Comment[ru]=Проверка качества носителей CD/DVD
Categories=System;
StartupNotify=true
Terminal=false
Keywords=CD/DVD;quality;test;
