name: check

on: [push, pull_request]

jobs:

  linux64-gui:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false
    - name: install prerequisites
      run: |
          sudo apt-get update
          sudo apt-get install -y make qtbase5-dev g++ libpng-dev qttools5-dev-tools
    - name: configure (debug)
      run: ./configure --enable-debug
    - name: make (debug)
      run: nproc && make -j$(nproc)
    - name: check executable (debug)
      run: |
          file gui/qpxtool
          file gui/qpxtool | grep -q 'x86-64'
    - name: configure (release)
      run: make clean && ./configure
    - name: make (release)
      run: nproc && make -j$(nproc)
    - name: check executable (release)
      run: |
          file gui/qpxtool
          file gui/qpxtool | grep -q 'x86-64'

  win64-gui:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
    - uses: msys2/setup-msys2@v2
      with:
        msystem: MINGW64
        update: false
        install: git make pkg-config mingw-w64-x86_64-gcc mingw-w64-x86_64-qt5
    - run: git config --global core.autocrlf input
      shell: bash
    - uses: actions/checkout@v4
      with:
        persist-credentials: false
    - name: configure (debug)
      run: ./configure --enable-debug
    - name: make (debug)
      run: nproc && make -j$(nproc)
    - name: check executable (debug)
      run: |
          file gui/debug/qpxtool.exe
          file gui/debug/qpxtool.exe | grep -q 'x86-64'
    - name: configure (release)
      run: make clean && ./configure
    - name: make (release)
      run: nproc && make -j$(nproc)
    - name: check executable (release)
      run: |
          file gui/release/qpxtool.exe
          file gui/release/qpxtool.exe | grep -q 'x86-64'
